{% extends 'base.html' %}

{% block content %}
    <!-- Product Area -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-6 text-center">
        <div class="card">
          <img src="/{{ product.img }}" style="width: 100%" alt="">
          <div class="card-body">
            <p class="card-text">{{ product.one_line_introduce }}</p>
          </div>
          <div class="card-footer">
            <span class="float-left">{{ product.like }} Like</span>
            <span class="float-right"><img src="{{ product.owner.thumbnail }}" width="30px" height="30px" alt=""> {{ product.owner.nickname }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-6 ">
        <div class="card text-left;">
          <div class="card-body">
            <h3 class="card-title">{{ product.title }}</h4>
          </div>
          <hr>
          <div class="card-body">
            <p class="card-text">{{ product.content }}</p>
          </div>
        </div>
        <div class="mt-5" style="text-align: center;">
          <a href="/product/detail/{{ product.id }}" class="btn btn-primary" data-toggle="modal" >Buy now</a>
        </div>
      </div>
    </div>
    <!-- /.product row -->
{% endblock %}
