{% extends 'base.html' %}

{% block content %}
<script>
    var socket = new WebSocket("ws://" + document.location.host + "/chat/");
    socket.onopen = function (event) {
      $("#msgBox").append($('<p>', {'text': '[안내] 서버와 연결됨'}));
    };
    socket.onmessage = function (event) {
      var data = JSON.parse(event.data);
      if(data.command == "send") {
        $("#msgBox").append($('<p>', {'text': data.sender + ' : ' + data.message}));
      }
      else if(data.command == "read") {
        $("#msgBox").append($('<p>', {'text': '[알림] ' + data.sender + '(이)가 메세지 읽음'}));
      }
    };
    function send_message() {
      socket.send(JSON.stringify({"command": "send",
                                  "receiver_id": $("input[name='receiver_id']").val(),
                                  "message": $("input[name='message']").val()}));
    }
    function read_message() {
      socket.send(JSON.stringify({"command": "read",
                                  "receiver_id": $("input[name='receiver_id']").val()}));
    }
</script>
YOUR ID : {{ user.get_username }}<br>
<input type="hidden" name="receiver_id" value="{{ receiver_id }}">
MESSAGE : <input type="text" name="message" value="">
<button type="button" name="button" onclick="send_message()">보내기</button>
<button type="button" name="button" onclick="read_message()">읽기</button>
<div id="msgBox">
    {% for message in messages %}
      <p>[{{ message.created_at }}] [{{ message.is_read }}] {{ message.owner.id }} : {{ message.message }}</p>
    {% endfor %}
</div>
{% endblock %}
