<script>
  $(function () {
    $.ajax({
      url: '/project/own/',
      dataType: 'json',
      type: 'GET',
      success: function( data, status, xhr ){
          $.each(data, function (key, element) {
            var a = $('<a>', {'class': 'list-group-item', 'text': element.title, 'project_id': element.id, 'href': '#'});
            a.on('click', function(e){
              $(".alert").alert('close');
              var previous = $(this).closest(".list-group").children(".active");
              previous.removeClass('active');
              if(previous[0] != e.target) {
                $(e.target).addClass('active'); }
            });
            $('#project-list-group').append(a);
          });
      },
      error: function( xhr, status, error ){
          console.log( error );
      }
    });
  });
  function propose_project() {
    if(!$("#project-list-group").find(".active").length) {
      $(".alert").alert('close');
      $("#alert-container").append(make_alert('Please select your project.', 'alert-danger'));
    }
  }

  function make_alert(msg, level) {
    var div = $('<div>', {'class': 'alert mt-3 show ' + level, 'role': 'alert', 'text': msg, 'style': 'margin-bottom: 0px;'});
    var span = $('<span>', {'href': '#', 'class': 'close', 'data-dismiss': 'alert', 'text': '×'});
    div.append(span);
    return div;
  }
</script>

<div class="modal hide fade" id="list-modal" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" style="pointer-events: auto;">
        <div class="modal-container">
          <h1>Select your Project</h1>
          <div class="list-group" id="project-list-group">
          </div>
          <div class="mt-5" style="text-align: center;">
            <button onclick="propose_project()" class="btn btn-primary">Propose Project</button>
          </div>
          <div id="alert-container">

          </div>
        </div>
    </div>
</div>
