<script>
  $(function () {
    $.ajax({
      url: '/project/own/',
      dataType: 'json',
      type: 'GET',
      success: function( data, status, xhr ){
          $.each(data, function (key, element) {
            var a = $('<a>', {'class': 'list-group-item', 'text': element.title, 'project_id': element.id, 'href': '#'});
            a.on('click', function(e){
              var previous = $(this).closest(".list-group").children(".active");
              previous.removeClass('active');
              if(previous[0] != e.target) {
                $(e.target).addClass('active'); }
            });
            $('#project-list-group').append(a);
          });
      },
      error: function( xhr, status, error ){
          console.log( error );
      }
    });
  });
</script>

<div class="modal hide fade" id="list-modal" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog" style="pointer-events: auto;">
        <div class="modal-container">
          <h1>Select your Project</h1>
          <div class="list-group" id="project-list-group">
          </div>
          <div class="mt-5" style="text-align: center;">
            <a href="" class="btn btn-primary">Propose Project</a>
          </div>
        </div>
    </div>
</div>
