<style>
.rainbow {
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
</style>
<div class="row text-center rainbow">
  <div class="col-lg-12 col-md-12 col-xs-12 mb-4">
    <h2 class="text-center">Debug Buttons</h2><br>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
    <a href="/product/create/" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Product</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
    <a href="/product/" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Product</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
    <a href="/project/create/" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Project</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
    <a href="/project/" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Project</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
    <a href="/contract/edit/1/" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Contract</h4>
        </div>
      </div>
    </a>
  </div>

</div>
