{% block footer %}
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">

          <span><b>회사명</b> Solomon</span><br>
          <span><b>주소</b> OO도 OO시 OO구 OO동 123-45</span><br>
          <span><b>사업자 등록번호</b> 123-45-67890</span><br>
          <span><b>대표</b> admin</span>
          <span><b>전화</b> 02-123-4567</span>
          <span><b>팩스</b> 02-123-4568</span><br>
          <!-- <span><b>운영자</b> 최고관리자</span><br> -->
          <span><b>통신판매업신고번호</b> 제 OO구 - 123호</span><br>
          <span><b>개인정보관리책임자</b> 정보책임자명</span>

          <span><b>부가통신사업신고번호</b> 12345호</span><br> Copyright © 2018 solomon. All Rights Reserved.
      </p>
    </div>
  </footer>
{% endblock %}
