{% if not user.is_active %}
  {% include 'account/modal/login.html' %}
  {% include 'account/modal/register.html' %}
{% endif %}

<nav class="fixed-top">
  <div class="navbar navbar-dark navbar-expand-md bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Solomon</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbars-top" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbars-top" class="navbar-collapse collapse" style="position: right;">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">QnA</a>
            </li>
          {% if user.is_active %}
            {{ requset }}
            {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/user/logout/">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">Register</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#" ><img src="/static/img/user.svg" style="width: 1.7rem; height: auto;"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% include 'sub_menu.html' %}
</nav>
