{% block header %}

<header class="fixed-top">
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Solomon</a>

      <div class="navbar-expand-lg" style="position: right;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">QnA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ><img src="user.svg" style="width: 25px; height: 25px;"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="container navbar-expand-lg">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black;">소프트웨어 개발</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black;">디자인</a>
        </li>
      </ul>
    </div>
  </div>
</header>
{% endblock %}
