<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Solomon</title>
  <style>
    .float{
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:#0C9;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
    }
  </style>
</head>

<body>
  <div style="height: 100%; width: 100%;">
    <iframe  src="/main/" name="report" style="position: absolute; top: 0; right: 0; bottom: 0: left: 0;"></iframe>
  </div>
  <a href="#" class="float float-xl-right">
    M<br>
    S<br>
    G<br>
  </a>
</body>
</html>