{% extends 'base.html' %}
{% block content %}
<!-- Page Features -->
<!-- Product Area -->


<h2 class="text-center">My Page</h2><br>

<hr>

<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12 my-2">
    <img src="/static/img/user.svg" alt="" width="50rem" height="50rem">
    {{ user.name }}
  </div>
</div>

<hr>

<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Seller</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Buyer</a>
    </li>
  </ul>
</nav>

<hr>

<div id="buyer_menu" class="row text-center">
  <div class="col-lg-4 col-md-4 col-xs-12 my-4">
    <a href="#" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Project</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12 my-4">
    <a href="#" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12 my-4">
    <a href="#" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Review</h4>
        </div>
      </div>
    </a>
  </div>
</div>

<!--./ Seller Menu -->

<div id="seller_menu" class="row text-center">
  <div class="col-lg-4 col-md-4 col-xs-12 my-4">
    <a href="#" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Talent</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12 my-4">
    <a href="#" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12 my-4">
    <a href="#" style="color: black;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Review</h4>
        </div>
      </div>
    </a>
  </div>
</div>

<!--./ Buyer Menu -->

<div class="col-lg-3 col-md-6 col-xs-12 my-4">
  <a href="/product/detail/{{ product.id }}" style="color: black;">
    <div class="card">
      <img class="" src="/{{ product.img }}" alt="" height="100px" width="100px">
      <div class="card-body" style="height: 100px">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">{{ product.one_line_introduce }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left">{{ product.like }} Like</span>
      </div>
    </div>
  </a>
</div>

<!--./ product view -->

<div class="col-lg-3 col-md-6 col-xs-12 my-4">
  <a href="/project/detail/{{ project.id }}" style="color: black;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ project.title }}</h4>
        <p class="card-text">{{ project.one_line_introduce }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left">{{ project.price }}$</span>
        <span class="float-right"><img src="{{ project.owner.thumbnail }}" width="30px" height="30px" alt=""> {{ project.period }}</span>
      </div>
    </div>
  </a>
</div>

<!--./ project view -->

<div class="col-lg-3 col-md-6 col-xs-12 my-4">
  <a href="/contract/detail/{{ contract.id }}" style="color: black;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ contract.order.project.title }}</h4>
        <p class="card-text">{{ contract.order.project.one_line_introduce }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left">{{ contract.order.project.created_at }}</span>
        <span class="float-right"><img src="{{ contract.order.project.owner.thumbnail }}" width="30px" height="30px" alt=""> {{ contract.order.project.owner.name }}</span>
      </div>
    </div>
</div>

<!--./ contract view for seller -->

<div class="col-lg-3 col-md-6 col-xs-12 my-4">
  <a href="/contract/detail/{{ contract.id }}" style="color: black;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ contract.order.project.title }}</h4>
        <p class="card-text">{{ contract.order.project.one_line_introduce }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left">{{ contract.order.project.created_at }}</span>
        <span class="float-right"><img src="{{ contract.order.product.owner.thumbnail }}" width="30px" height="30px" alt=""> {{ contract.order.product.owner.name }}</span>
      </div>
    </div>
</div>

<!--./ contract view for buyer -->

<div class="col-lg-3 col-md-6 col-xs-12 my-4">
  <a href="/product/detail/{{ review.product.id }}" style="color: black;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ review.product.title }}</h4>
        <p class="card-text">{{ review.product.one_line_introduce }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left"><img src="{{ review.owner.thumbnail }}" width="30px" height="30px" alt=""> {{ review.owner.name }}</span>
        <span class="float-right">{{ review.star }} : {{ review.content }}</span>
      </div>
    </div>
</div>

<!--./ review view for seller -->

<div class="col-lg-3 col-md-6 col-xs-12 my-4">
  <a href="/project/detail/{{ review.project.id }}" style="color: black;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ review.product.title }}</h4>
        <p class="card-text">{{ review.product.one_line_introduce }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left"><img src="{{ review.owner.thumbnail }}" width="30px" height="30px" alt=""> {{ review.owner.name }}</span>
        <span class="float-right">{{ review.star }} : {{ review.content }}</span>
      </div>
    </div>
</div>

<!--./ review view for buyer -->

{% endblock %}
